doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title profile
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9", crossorigin="anonymous")
    link(rel="stylesheet", href="public/stylesheets/cards.css")
  body
    #card
      #card-header
        h2 #{names}
      #card-number
        p Card name: #{cardname}
        p Number: #{nr_card}

    button#button(type="button", class="btn btn-info") afisare sold

    #action
      .container
        .card.text-bg-warning.mb-3(style="max-width: 15rem;margin: 5px;")
          .card-header Treansfer
          .card-body
            p.card-text Trimite bani usor si repede
            button(type="button", class="btn btn-dark") Trimite

        .card.text-bg-primary.mb-3(style="max-width: 15rem;margin: 5px;")
          .card-header Facturi lunare
          .card-body
            p.card-text Inregistreaza plati fixe lunare
            button(type="button", class="btn btn-dark") Adauga factura

        .card.text-bg-success.mb-3(style="max-width: 15rem;margin: 5px;")
          .card-header Plati online
          .card-body
            p.card-text Plateste facturi variabile
            button(type="button", class="btn btn-dark") Plateste acum
