doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Validation
    link(rel="stylesheet", href="/public/stylesheets/register.css")
    script(src="/helper/validregister.js")
  body
    .container
      div#form
        h1 Registration
        .input-control
          label Name
          input#name(name="completname", type="text" placeholder="Georgescu Ioan")
          .error
        .input-control
          label(for="email") Email
          input#email(name="email", type="email")
          .error
        .input-control
          label(for="username") Username
          input#username(name="username", type="text")
          .error
        .input-control
          label(for="password") Password
          input#password(name="password", type="password")
          .error
        .input-control
          label(for="password2") Password again
          input#password2(name="password2", type="password")
          .error
          button(onclick="finish()") Sign Up 
